@model List<Card>
@{
    ViewData["Title"] = "Список карт";
}
<div class="d-grid col-sm-12 col-md-11 col-lg-9 col-xl-8 mx-auto">
    <h3>Мои визитки</h3>
    @foreach (var item in Model)
    {
        if (item != null)
        {
            <h4 class="text-center">@item.Name</h4>
            var allfields = item.cardFields;
            foreach (var itemFields in allfields)
            {
                if (itemFields.FieldName != null || itemFields.FieldValue != null)
                {
                    int clickCountLastDay = itemFields.ClickCardFields.Where(d => d.DateTime.Day == DateTime.Now.Day && d.DateTime.Month == DateTime.Now.Month).ToList().Count;
                    int clickCountLastMonth = itemFields.ClickCardFields.Where(d => d.DateTime.Month == DateTime.Now.Month).ToList().Count;
                    void addClickStatictic()
                    {
                        <div class="align-content-center">↑ Всего кликов по кнопке: (<b> @itemFields.ClickCardFields.Count </b>) | За месяц: ( @clickCountLastMonth ) | За день: ( @clickCountLastDay ) ↑</div>
                    };
                    string fildName = "";
                    switch (itemFields.FieldType)
                    {
                        case 1:
                            <div class="d-grid col-12 mx-auto">
                                <a class="btn text-dark btn-outline-dark btn-lg col-12 disabled">@itemFields.FieldName</a>
                            </div>
                            break;
                        case 2:
                            <div class="d-grid col-12 mx-auto">
                                <a class="btn btn-outline-primary btn-lg col-12" href="@itemFields.FieldValue">@itemFields.FieldName</a>
                            </div>
                            addClickStatictic();
                            break;
                        case 3:
                            fildName = "tel:";
                            itemFields.FieldValue = fildName + itemFields.FieldValue;
                            <div class="d-grid col-12 mx-auto">
                                <a class="btn btn-outline-success btn-lg col-12" href="@itemFields.FieldValue">@itemFields.FieldName</a>
                            </div>
                            addClickStatictic();
                            break;
                        case 4:
                            fildName = "mailto:";
                            itemFields.FieldValue = fildName + itemFields.FieldValue;
                            <div class="d-grid col-12 mx-auto">
                                <a class="btn btn-outline-info btn-lg col-12" href="@itemFields.FieldValue">@itemFields.FieldName</a>
                            </div>
                            addClickStatictic();
                            break;
                        default:
                            <div class="d-grid col-12 mx-auto">
                                <a class="btn btn-outline-secondary btn-lg col-12" href="@itemFields.FieldValue">@itemFields.FieldName</a>
                            </div><br>
                            addClickStatictic();
                            break;
                    }
                }
            }
            <div>
                @{
                    int visitCountLastDay = item.visitСounter.Where(d => d.DateTime.Day == DateTime.Now.Day && d.DateTime.Month == DateTime.Now.Month && d.DateTime.Year == DateTime.Now.Year).ToList().Count;
                    int visitCountLastMonth = item.visitСounter.Where(d => d.DateTime.Month == DateTime.Now.Month && d.DateTime.Year == DateTime.Now.Year).ToList().Count;
                }
                @{
                    string qrCode = string.Format("https://chart.googleapis.com/chart?cht=qr&chld=H|1&chl=https://vvcard.ru/" + item.Id + "&chs=170x170");
                    string idUrl = string.Format("https://vvcard.ru/" + item.Id);
                    string PublicIDUrl = string.Format("https://vvcard.ru/" + item.PublicID);
                    <img class="rounded float-end border-0" src="@qrCode" />
                    <p>QRCode можно использовать на печатных визитках</p>
                    <p>Визитка доступна по адресу: <a href="@PublicIDUrl">https://vvcard.ru/<text>@item.PublicID</a></p>
                    <p>Постоянный адрес: <a href="@idUrl">https://vvcard.ru/<text>@item.Id</a></p>
                    <p>
                        Просморты всего: <a href="~/Card/ShowVisits?Id=@item.Id">( @item.visitСounter?.Count )<text></a> |
                        За месяц: <a href="~/Card/ShowVisits?Id=@item.Id&format=Month">( @visitCountLastMonth )<text></a> |
                        За день: <a href="~/Card/ShowVisits?Id=@item.Id&format=Day">( @visitCountLastDay )<text></a>
                    </p>
                    <a class="btn btn-secondary col-auto btn-lg" href="~/Card/Edit/@item.Id">Редактировать</a><br><br>

                }
            </div>
        }
    }
    <a class="btn btn-secondary" href="~/Card/Create">Создать новую</a><br><br>
</div>

