@model List<Card>
@{
    ViewData["Title"] = "VVCard - Сайт визитка";
}

@if (Model.Count > 1)
{
<div>
    <h3>Новости</h3>
    0.7.4<br />
    - Добавлена возможность регистрации/авторизации используя аккаунт гугл, остальные сервисы будут добавлены в скором времени.<br />
    Подробней в <a href="https://vk.com/vvcardru">группе ВК</a>
</div>

    <h3 class="border-top">Cлучайные визитки</h3>
}
else
{
    ViewData["Title"] = $"{ Model.Select(x => x.Name).FirstOrDefault()}";
}
<div class="d-grid col-6 mx-auto">
    @foreach (var item in Model)
    {
        if (item != null)
        {
    <h4 class="text-center">@item.Name</h4>
            var allfields = item.cardFields;
            if (allfields != null)
            {
                foreach (var itemFields in allfields)
                {
                    if (itemFields.FieldName != null)
                    {
                        string fildName = "";
                        switch (itemFields.FieldType)
                        {
                            case 1:
                                <a class="btn btn-outline-light text-dark" @itemFields.Id>@itemFields.FieldName</a><br>
                                break;
                            case 2:
                                <a class="btn btn-outline-primary" onclick="CardFieldClickAddLog(@itemFields.Id)" href="@itemFields.FieldValue">@itemFields.FieldName</a><br>
                                break;
                            case 3:
                                fildName = "tel:";
                                itemFields.FieldValue = fildName + itemFields.FieldValue;
                                <a class="btn btn-outline-success" onclick="CardFieldClickAddLog(@itemFields.Id)" href="@itemFields.FieldValue">@itemFields.FieldName</a><br>
                                break;
                            case 4:
                                fildName = "mailto:";
                                itemFields.FieldValue = fildName + itemFields.FieldValue;
                                <a class="btn btn-outline-info" onclick="CardFieldClickAddLog(@itemFields.Id)" href="@itemFields.FieldValue">@itemFields.FieldName</a><br>
                                break;
                            default:
                                <a class="btn btn-outline-secondary" onclick="CardFieldClickAddLog(@itemFields.Id)" href="@itemFields.FieldValue">@itemFields.FieldName</a><br>
                                break;
                        }
                    }
                }
            }
        }
    }
</div>
